body {
  color: #000;
  /*background-color: #e6e6e6;*/
    background-color: #fff;
}

.container a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

/* ここからheaderのcss */

.header-container {
  width: 960px;
  height: 65px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
}

#login-link {
  width: 400px;
  list-style: none;
}

.nav-link {
  text-align: right;
  padding: 8px 150px;
  color: #111;
}

#nav-link {
  float: right;
  padding: 0;
  display: inline-block;
}

.dropdown-menu {
  float: right;
}

#navbarDropdown {
  float: right;
}

.header-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-logo a {
  width: 50px;
  height: 50px;
}

.clearflex {
  width: 400px;
  height: 50px;
  display: inline-block;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.clearflex li {
  width: 79px;
  height: 50px;
  list-style: none;
  float: left;
  text-align: center;
}

/*li:last-child {*/
/*  background-color: #C0C0C0;*/
/*  color: #000;*/
/*}*/

.clearflex a {
  width: 79px;
  display: block;
  margin: 13px 0;
  border-right: dashed 1px #C0C0C0;
  font-size: 13px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.cart-item {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
}

.cart-item img {
  width: 40px;
  height: 40px;
}

.login {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin-left: 350px;
  // position: absolute;
  // top: 13px;
  // left: 1100px;
}

#login-link {
  width: 100px;
  text-align: right;
  float: right;
}

#login-link a {
  width: 100px;
  height: 50px;
  padding: 0;
  margin-right: 0;
  text-align: center;
  line-height: 50px;
}

/* ここまでheaderのcss */


/* ここから goods/index.blade.php のcss */

.container {
  margin: 0 auto;
}

.form-group {
  width: 750px;
  margin: 30px 0 0 0;
}

#search-box {
  padding: 0;
}

.goods-container {
  width: 960px;
  margin: 0 auto;
}

.goods-container h1 {
    color: #333;
    font-size: 30px;
}

.goods-container li {
  list-style: none;
}

.slide {
  width: 980px;
  height: 500px;
  margin: 70px 0;
}

.slide img {
  width: 980px;
  height: 500px;
}

.goods-category {
  height: 2000px;
}

.category-title {
  margin-top: 50px; 
}

#category {
  width: 960px;
  height: 50px;
  padding-left: 0;
  margin-top: 50px;
  border-bottom: solid 1px #ddd;
}

.category h2 {
  font-size: 25px;
  margin: 0 auto;
}

.category li {
  width: 240px;
  height: 50px;
  float: left;
  display: flex;
}

.category a {
    text-align: center;
}

.sub-category {
  height: 1500px;
  margin-top: 40px;
}

.sub {
  width: 240px;
  height: 298px;
  display: inline-block;
  float: left;
  position: relative;
}

.sub img {
  width: 230px;
  height: 288px;
  margin: 0 10px;
  opacity: 0.7;
}

.float1 {
  position: absolute;
  top: 130px;
  left: 40px
}

.float1 h2 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.float2 {
  position: absolute;
  top: 130px;
  left: 90px
}

.float2 h2 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.recommendation {
  height: 550px;
}

.recommendation h1 {
  margin: 30px 0 20px 0;
}

.recommend-image {
  width: 800px;
  height: 500px;
  display: inline-block;
  float: left;
}

.recommendation img {
  width: 800px;
  height: 500px;
}

.recommend-details {
  width: 160px;
  height: 500px;
  margin: 0;
  float: left;
}

.main-detail {
  width: 145px;
  margin-left: 15px;
}

.main-detail h2 {
  width: 80px;
  color: #FF3333;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
  font-size: 13px;
  border: solid 2px #ff0000;
}

.main-detail h1 {
  font-weight: bold;
  font-size: 17px;
}

.main-detail p {
  font-size: 10px;
  white-space: nowrap;
} 

.sub-detail {
  width: 145px;
  margin-left: 15px;
}

.sub-detail h1 {
  width: 80px;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  margin-top: 100px;
  border: solid 1px #333;
}

.sub-detail h2 {
  font-size: 14px;
  font-weight: bold;
}

.ranking {
  height: 1800px;
  margin-top: 40px;
}

.ranking-list {
  width: 240px;
  height: 360px;
  display: inline-block;
  float: left;
  margin-top: 20px;
}

.rank-order {
  padding-left: 10px;
  border-left: solid 5px #808080;
  margin-bottom: 20px;
}

.ranking img {
  width: 230px;
  height: 288px;
  margin: 0 10px;
}

.ranking-name h1 {
  width: 230px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  white-space: nowrap;
}

.price p {
  font-weight: bold;
  margin-left: 10px;
}
/* ここまで goods/index.blade.php のcss */

/* ここから goods/cartlist.blade.php のcss */

.text-center {
  color:#555555;
  font-size: 1.2em;
  padding: 24px 0px;
}

.cart-ocontents {
  width: 1400px;
}

.d-flex {
  width: 960px;
  margin: 0 auto;
}

.mycart-box {
  width: 960px;
  height: 210px;
  background: #f9f9f9;
  margin-bottom: 15px;
}

.mycart-box p {
  text-align: center;
  margin-top: 16px;
}

.qty-table {
  margin: 0 auto;
}

.qty-table {
  margin: 0 auto;
}

.qty-change {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.cart-delete {
  width: 170px;
  margin: 0 auto;
}

.text-center {
  width: 300px;
  margin: 0 auto;
}

.total {
  width: 960px;
}

.tatal-price {
  text-align: center;
  font-size:1.2em;
  font-weight:bold;
}

.payment {
  margin: 0 auto;
}

.goods-list {
  width: 110px;
  margin: 30px 650px 0 650px;
}

.goods-list a {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.goods-list a:hover {
  color: #ff0000;
  font-weight: bold;
  text-decoration: underline;
}

/* ここまで goods/cartlist.blade.php のcss */


/* ここから contact/index.blade.php のcss */

.contact-container {
  width: 500px;
  height: 700px;
  margin: 0 auto;
}

.contact-container h1 {
  width: 500px;
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
}

.border {
  width: 200px;
  height: 1px;
  border: #333;
  margin: 30px 150px 50px 150px;
}

.contact-box {
  width: 400px;
  height: 70px;
  margin: 0 auto;
}

.contact-box label {
  margin-top: 30px;
  margin-right: 30px;
}

.contact-box input {
  width: 400px;
  height: 40px;
  color: #f9f9f9;
  border-radius: 5px;
  border: solid 1px #f9f9f9;
  background: #f9f9f9;
  padding-left: 15px;
  outline: none;
  caret-color: #333;
}


#content {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}

#cantact-body {
  width: 400px;
  height: 200px;
  vertical-align:top;
  border-radius: 5px;
  border: solid 1px #f9f9f9;
  background: #f9f9f9;
  padding-left: 15px;
  outline: none;
}

.error-message {
  color: #f00;
}

#confirm-content {
  width: 210px;
  margin: 50px 145px;
}

.btn-square-slant {
  width: 200px;
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #333;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #555;/*ボタン色より暗めに*/
  border-right: solid 5px #555;/*ボタン色より暗めに*/
  border-left: none;
  border-top: none;
}

.btn-square-slant:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.btn-square-slant:active:after, .btn-square-slant:active:before {
  content: none;/*ボタンを押すと線が消える*/
}



/* ここまで contact/index.blade.php のcss */

/* ここから contact/confirm.blade.php のcss */

.confirm-container {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #eee;
  padding-top: 25px;
}

.confirm {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 30px 0;
}

.confirm-box {
  width: 280px;
  height: 70px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.confirm-box label {
  font-weight: bold;
}

.input-label {
  margin-top: 30px;
}

#confirm-box1 {
  width: 200px;
  height: 40px;
  margin: 40px 50px 0 50px; 
}

#confirm-box1 button {
  width: 200px;
  height: 40px;
  border: solid 1px #ff0000;
  border-radius: 20px;
  background: #ff0000;
  color: #fff;
  outline: none;
}

#confirm-box2 {
  width: 200px;
  height: 40px;
  margin: 20px 50px 0 50px; 
}

#confirm-box2 button {
  width: 200px;
  height: 40px;
  border: solid 1px #ff0000;
  border-radius: 20px;
  background: #ff0000;
  color: #fff;
  outline: none;
}


.confirm-box label {
  width: 280px;
  text-align: center;
  margin: 0;
}

.input-box {
  width: 280px;
  text-align: center;
}


/* ここまで contact/confirm.blade.php のcss */

/* ここから goods/categoryblade.php のcss */

.category {
  width: 960px;
  height: 1000px;
  margin: 0 auto;
}

.goods-box {
  width: 310px;
  height: 450px;
  margin: 50px 10px 0 0;
  display: inline-block;
  float: left;
}

.img {
  width: 300px;
  margin: 0 auto;
}

.img img {
  width: 300px;
  height: 358px;
}

.goodsName {
  width: 316px;
  margin: 10px 37px 0 0;

}

.goodsName h1 {
  width: 316px;
  font-size: 17px;
  margin-left: 5px;
}

.goodsPrice h1 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.serch:hover {
  background-color: #eee;
}


/* ここまで goods/cateegory.blade.php のcss */


