@charset "UTF-8";

body {
  color: #000;
  background-color: #eee;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

body {
  color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

.header-container {
  width: 960px;
  margin: 0 auto;
  padding-top: 15px;
}

#login-link {
  width: 400px;
  list-style: none;
}

.nav-link {
  text-align: right;
  padding: 8px 150px;
  color: #111;
}

#nav-link {
  float: right;
  padding: 0;
  display: inline-block;
}

.dropdown-menu {
  float: right;
}

#navbarDropdown {
  float: right;
}

.header-logo img {
  width: 50px;
  height: 50px;
  float: left;
}

.header-logo a {
  width: 50px;
  height: 50px;
}

.clearflex {
  width: 389px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}

.clearflex li {
  width: 79px;
  height: 50px;
  list-style: none;
  display: inline-block;
  text-align: center;
}

/*li:last-child {*/

/*  background-color: #C0C0C0;*/

/*  color: #000;*/

/*}*/

.clearflex a {
  width: 79px;
  display: block;
  margin: 13px 0;
  border-right: dashed 1px #C0C0C0;
  font-size: 13px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

.cart-item {
  width: 50px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 900px;
}

.cart-item img {
  width: 40px;
  height: 40px;
}

.login {
  width: 210px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 1100px;
}

/* ここから goods/show.blade.php のcss */

.body-container {
  width: 960px;
  height: 1000px;
  margin: 0 auto;
}

.goods-details {
  height: 700px;
}

.link {
  height: 30px;
  margin-bottom: 20px;
}

.link ul {
  width: 960px;
  height: 30px;
  padding-left: 0;
}

.link li {
  list-style: none;
  float: left;
  text-align: center;
}

.link a {
  color: #333;
}

.link a:hover {
  text-decoration: none;
  color: red;
}

.details {
  width: 180px;
  float: left;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  display: inline-block;
}

.image {
  width: 474px;
  height: 592px;
  display: inline-block;
  float: left;
  margin: 0 63px;
  position: relative;
}

.image img {
  width: 474px;
  height: 592px;
}

.like-btn {
  width: 80px;
  height: 29px;
  display: inline-block;
  position: absolute;
  top: 550px;
  left: 10px;
}

#top h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

#top h1:hover {
  color: #ff0000;
}

#top p {
  font-size: 12px;
}

.select-color h1 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #333;
}

.select-size {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #333;
}

.select-size h1 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #333;
}

.btn {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 25px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  background: #fff;
  border: 1px solid #fff;
  line-height: 15px;
}

.btn:hover {
  background: #F2F2F2;
  cursor: pointer;
  text-decoration: none;
}

.add-cart {
  width: 150px;
  margin: 10px 0;
}

.button {
  display: block;
  position: relative;
  width: 150px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  background: #fff;
  border: 1px solid #1B1B1B;
}

.button:hover {
  background: #1B1B1B;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

#confirm-stock {
  background-color: #333;
  border-color: #333;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

#confirm-stock a {
  color: #fff;
}

.link-more {
  padding-left: 0;
}

.link-more li {
  list-style: none;
  margin-bottom: 5px;
}

.link-more li:first-child {
  margin-top: 10px;
}

.link-more a {
  color: #333;
  font-size: 13px;
  white-space: nowrap;
}

.recommends {
  width: 132px;
  height: 243px;
  display: inline-block;
  float: left;
  margin-left: 50px;
}

.recommends img {
  width: 132px;
  height: 178px;
}

.recommends h1 {
  font-size: 12px;
  margin-top: 10px;
}

.recommends p {
  font-weight: bold;
}

.recommend-goods {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #A2A2A2;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* ここまで goods/show.blade.php のcss */

/* ここから cart/cart.blade.php のcss */

.mx-auto {
  max-width: 1200px;
}

.text-center {
  color: #555555;
  font-size: 1.2em;
  padding: 24px 0px;
}

.cart {
  width: 960px;
  margin: 0 auto;
}

.mycart_box {
  width: 960px;
  background: #fff;
  margin-bottom: 15px;
  padding: 20px;
}

.mycart_box p {
  text-align: center;
  margin-bottom: 10px;
}

.back {
  width: 130px;
  height: 50px;
  margin: 0 auto;
}

.back a {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

.back a:hover {
  color: #ff0000;
}

.goods-list {
  margin: 0 29px;
}

/* ここまで cart/cart.blade.php のcss */

/* ここから contact/thanks.blade.php のcss */

/* ここまで contact/thanks.blade.php のcss */

